* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainColor: #000000;
    --purpleColor: #59314C;
    --lightPurple: #58304B;
    --yellowColor: #FFCF3F;
    --orangeColor: #FF8100;
    --pinkColor:   #F5ADB3;
  }

/* typography */
    html{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.6em; 
    font-size: 1rem;
    }
    body{
        max-width: 36rem;  
        margin: 0 auto; 
    
    }
   /* skip to main button */ 
  #skip {
    margin: -1rem auto;
    display: block;
    z-index: 1001;
    top: -1rem;
    position: relative;
  }
  /* header with logo and nav bar  */
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    border-bottom:  2px solid var(--orangeColor);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #59314C;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
  .header .logo {
    display: block;
    float: left;
    width: 50%;
    padding: 1rem;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition:  .2s ease-out;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
  padding: 28px 20px;
  margin-left: 5.6rem;
  margin-top: 0.5rem;
}

.header .menu-icon .navicon {
  background: #59314C;
  display: block;
  height: 4px;
  position: relative;
  transition: .2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #59314C;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}
/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 700px;
  height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
    /* navigation styling */
  .header li a:hover,
  .header .menu-btn:hover {
            color: #EDC242;
            font-size: 1.2rem;
            text-decoration: underline 1px #EDC242;
  }
  .header li a:focus,
  .header .menu-btn:focus {
            color: #EDC242;
            font-size: 1.2rem;
            text-decoration: underline 1px #EDC242;
  }
.nextpage {
  background: linear-gradient(to right, #EDC242, #D8AC27);
  box-shadow:6px 6px 12px black;
  border: none;
  color: #330811;
  padding: 10px 32px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  max-width: 14rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

   /* calendar and music icon */
.icon {
  margin-top: 6rem;
  width: 100%;
  }
  #iconn {
    width: 15%;
    align-items: center;
    display: inline-block;
  }
  .audio {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
  }
  .bulb {
    width: 10%;
  }
  /* calender and music icon */
  .navbar li{
    width: 13%;
  }
  .navbar ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     cursor: pointer;
     gap: 10px;
  }
  .navbar ul li ul {
    position:absolute;
    width: 166px;
    display: none;
    box-shadow: 3px 3px 10px #0f0e0e;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
  }
  .navbar ul li ul li {
    width: 100%;
    border-bottom: 0.1px solid var(--purpleColor);
  }
  .navbar ul li ul li a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #3a2333;
  }
  .navbar ul li:focus-within > ul {
    display: initial;
  }
  .navbar ul li:hover > ul{
    display: initial;}

   /* breadcrumbs */
nav.breadcrumb {
    padding: 0.8rem 1rem;
    /*! margin-top: 6rem; */
}

nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;}
  
nav.breadcrumb li {
    display: inline;
   }
   nav.breadcrumb li a {
    text-decoration: underline;
   }
  
nav.breadcrumb li + li::before {
    display: inline-block;
    margin: 0 0.25rem;
    transform: rotate(20deg);
    border-right: 0.1rem solid currentcolor;
    height: 0.8rem;
    content: "";}
  
nav.breadcrumb [aria-current="page"] {
   font-weight: 600;
   color: #59314C;
  }

    /* heading one and paragraph */
h1{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #58304B;
    line-height: 1.1em;
    font-size: 1.9rem;
    font-weight: 700;}
    .abouth1{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #58304B;
    line-height: 1.1em;
    font-size: 1.9rem;
    font-weight: 700;
    margin-top: 3rem;
    }
    .title {
        color: #FFCA29;
        margin-top: 1rem;
        line-height: 1.17em;
    }
    .calmain {
      color: #330811;
    }
.day{
    color: #330811;
    font-size: 1.5rem;
    font-weight: 600;}
p{
    margin-top: 1rem;
    /*! margin-bottom: 1rem; */}
.aheader {
    padding: 1rem;
  }
.aheaderc {
    background-color: #59314C;
    padding: 0.6rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

   /* heading two and second section */
h2{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #441E37;
    line-height: 1.2em;
    font-size: 1.7rem;
    font-weight: 800;}

.secondpara {
    padding: 1rem; }
    .secondparai {
      padding: 1rem;
    }
.steps{
   counter-reset: item;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
   list-style: decimal;}

   /* figure and caption */
    figure {
        display: block;
        margin: 0;
        padding: 0;}
      
    figure img {
        display: block;
        max-width: 70%;
        margin: 0 auto;
        margin-top: -1.5rem;}
      
    figcaption {
        font-size: 16px;
        color: #330811;
        text-align: center;}

/* heading 3 and paragraph */
h3{
font-family: 'Roboto', Helvetica, sans-serif;
color: #3a2333;
line-height: 1.1em;
font-size: 1.5rem;
font-weight: 600;}
.thirdpara {
padding: 1rem;}

#thirdparai{
  background-color: #F4F4F4;   
  padding: 1rem;  
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.work {
 padding: 0.6rem;
 list-style: none;}    

/* button */
 #my-button {
        background: linear-gradient(to right, #EDC242, #D8AC27);
        box-shadow: 3px 1px 7px rgb(0, 0, 0);
        border: none;
        color: #330811;
        padding: 10px 32px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: block;
        font-size: 1.2rem;
        font-weight: 800;
        cursor: pointer;}

/* back to calendar */
.bac {
        margin-top: 2rem;
        padding: 0.6rem;}
.backc {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}        

/* footer */
#backtop img {
  width: 100%;
}
#backtop {
        width: 15%;
        position: absolute;
        right: 0;
        margin-top: -1.5rem;
        display: block;}
    footer{
        background-color: #58304B;
        color: #ffffff;}
        footer p{
        padding: 0.6rem;
        margin-bottom: -2rem;
        margin-top: -0.1rem;}
    .social li{
      list-style: none; 
      margin-top: 1rem;
      width: 13%;
    }    
    .social ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }
    .sicon {
      width: 100%;
    }
            /*homepage input */
            .work {
              list-style: none;
              counter-reset: item;
              width: 100%;
              padding: 0.3rem;
              margin-top: 1rem;
            }
            .work li {
              counter-increment: item;
              margin-bottom: 1rem;
              display: flex;
              justify-content: start;
              align-items: start;
              gap: 1rem;
              
            }
            .work li:before {
               content: counter(item);
               background-color: transparent;
               border: 4px solid #FF8100;
               border-radius: 100%;
               color: #FF8100;
               font-family: 'Roboto', Helvetica, sans-serif;
               font-size: 1.5rem;
               text-align: center;
               display: inline-block;
               padding: 0.5rem 0.8rem;
               /*float: left;*/
             }
            label {
                display: block;
                margin-bottom: 10px;}
              
              input[type="text"] {
                padding: 10px;
                color: #330811;
                font-size: 16px;
                border: 2px solid #330811;
                border-radius: 10px;
                box-sizing: border-box;
                width: 70%;
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                margin-top: 1rem;}

                .inputt {
                  display: none;}
                button {
                    background: linear-gradient(to right, #EDC242, #D8AC27);
                    border: none;
                    box-shadow: 3px 3px 10px rgb(0, 0, 0);
                    color: #330811;
                    padding: 10px 20px;
                    font-size: 1.2rem;
                    font-weight: 800;
                    border-radius: 20px;
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 2.5rem;
                    margin-top: 1.5rem;
                  }
                  .popup{
                    width: 20rem;
                    background: #58304B;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                   padding: 1rem;
                  }
            /* Calendar page */
            .calendarpage {
              padding: 1rem;
            }
            .calmain {
              margin-top: 3rem;
              padding: 1rem;
}
            .num {
              font-weight: 800;
              color: #441E37;
              font-size: 1.3rem;
              z-index: 1000;
            }
            .stickynote {
              width: 100%;
             
            }
            .calendarpage {
             gap: 1rem;
              display: grid;
              grid-template-columns: 30% 30% 30%;
              margin-bottom: 2rem;
            }
            @media (min-width: 500px) {
             body{
                 max-width: 60rem; 
                 font-size: 1.1rem;
                margin: 0 auto; 
            }
            .header .logo {
              display: block;
              float: left;
              width: 25%;
              padding: 1.5rem;
            }
            .header {
              max-width: 57rem;
              margin: 0 auto;
              /*! margin-bottom: 1rem; */}

              .header li a{
                font-size: 1.9rem;
              }
.header .menu-icon .navicon {
  width: 40px;
  height: 5px;
}
.header .menu-icon {
  margin-left: 33.5rem;
  margin-top: 1.5rem;
}
            .icon {
              width: 15%;
              margin-top: 7rem; 
            }
            .aheader {
              padding: 1.2rem;
              color: #ffffff;
              background-color: #58304B;
            }
            .secondpara {
              max-width: 40rem;
              margin: 0 auto;
                margin-top: 0px;
              margin-top: 1rem;
              
            }
            .thirdpara{
              
              margin: 0 auto;
              margin-top: 0px;
              margin-top: 1rem;
              max-width: 40rem;
              
            }
            .navbar{
              margin-top: 2rem;
            }
            .navbar li {
              width: 50%;}
            .work {
              max-width: 40rem;
              margin: 0 auto;
            }
            h1{
              font-family: 'Roboto', Helvetica, sans-serif;
              color: #ffffff;
              line-height: 1.2em;
              font-size: 2.1rem;
              font-weight: 800;
              margin-left: 7.5rem;}
              .aheade {
                color: #330811;
                max-width: 40rem;
              background-color: #ffffff;}
              .day{
                color: #ffffff;
                font-size: 1.6rem;
                font-weight: 600;}  

                figure img {
                  display: block;
                  width: 35%;
                  margin: 0 auto;
                  margin-top: -1.5rem;}
                
              figcaption {
                  font-size: 16px;
                  color: #330811;
                  text-align: center;}

                  .bulb {
                    width: 8%;
                  }
                  .bac {
                    margin-left: 7.5rem;}
                    h2{
                      font-size: 1.9rem;
                      max-width: 40rem;
                      margin: 0 auto;
                    }
                  h3{ 
                    font-size: 1.7rem;
                  }
                  
                    #my-button{
                      font-size: 1.6rem;
                      margin-top: 1rem;
                     }
                     .nextpage {
                      font-size: 1.6rem;
                      max-width: 17rem;
                      padding: 15px 15px;
                     }
                     button {
                      font-size: 1.6rem;
                      margin-top: 1.3rem;
                     }
                     #backtop {
                      width: 8%;
                      margin-top: -1.9rem;
                      margin-right: 4rem;
                     }

                    footer p{
                      max-width: 40rem;
                      margin: 0 auto;
                    }
                    .aheader p {
                      padding: 1rem;
                      max-width: 40rem;
                      margin: 0 auto;}
                    
                    .breadcrumb {
                        margin-left: 7.5rem;
                    }
                    .navbar ul {
                      max-width: 40rem;
                      margin: 0 auto;}
                      .calendarpage {
                      max-width: 40rem;
                      margin:0 auto;
                       }
                       input[type="text"] {
                        width: 40%;
                        padding: 13px;
                        font-size: 18px;
                       }
                       .input {
                        display: flex;
                        flex-direction: row;
                        max-width: 40rem;
                        margin: 2rem auto;
                       }
                       .aheaderc p{
                        max-width: 40rem;
                        margin: 0 auto;
                        padding: 1rem;
                       }
                       .title {
                        max-width: 40rem;
                        margin: 0 auto;
                        padding: 1rem;
                        font-size: 2.4rem;
                       }
                       .social li{
                        width: 5%;
                      }

            }
              
            @media (min-width: 900px) {
              body{
                max-width: 100rem; 
                font-size: 1.3rem;
                  margin: 0 auto; 
                  line-height: 1.6em;
           }
           .header {
            max-width: 100rem;
            margin: 0 auto;
           border-bottom: none;
         }
       
           .backtop {
            margin-right: 4rem;
            margin-top: -2.2rem;
            width: 5%;}
            .header li {
              float: left;
              padding: 2rem;
              background-color: #ffffff;
            }
            .header li a {
              color: #330811;
              font-size: 1.5rem;
              padding: 20px 10px;
              border-right: none;
              /*! margin-left: 4rem; */
            }
            .header .menu {
              clear: none;
              float: right;
              max-height: none;
            }
            .header .menu-icon {
              display: none;
            }
            .header .logo {
              display: block;
              float: left;
              padding: 2rem;
              width: 20%;
          }
          .icon {
            width: 15%;
            margin-top: 10rem; 
          }
          .bigscreen{
            display: flex;
            background-color: #58304B;
            margin: 0 auto;
            padding: 2rem;
            max-width: 90rem;
          }
          .aheade {
            color: #330811;
            max-width: 38rem;
            background-color: #ffffff;
            margin: 0 auto;
            margin-bottom: 2rem;
          }
            .aheader p{
              margin-bottom: 5rem;
            }
            .aheaderc {
              display: flex;
              flex-direction: row;
              max-width: 88rem;
              margin: 0 auto;
              background-color: #58304B;
            }
            h1{
              color: #58304B;
              line-height: 1.2em;
              font-size: 2.5rem;
              font-weight: 800;
              margin-left: 1rem;}
             

              .day {
                color: #330811;
                font-size: 1.9rem;
                font-weight: 600;}

                .secondpara {
                  color: #ffffff;
                  width: 40%;
                  padding: 0.1rem;
                }
                .secondparai{
                  color: #000000;
                  width: 60%;
                  margin: 0 auto;
                  margin-bottom: 2rem;
                 
                }

                h2{
                 font-size: 2.2rem;
                 color: #ffffff;
                 max-width: 70rem;
                 margin-top: 2rem;
                 margin-bottom: 2rem;
                }
            
                .steps {
                  color: #ffffff;
                 
                }
                h3{
                  font-size: 2rem; 
                }
                .bigscreen2{
                  display: flex;
                  flex-direction: row-reverse;
                  margin: 0 auto;
                  padding: 2rem;
                  max-width: 90rem;
                }
                .thirdpara{
                  background-color: transparent;
                  max-width: 40rem;
                  margin-left: 6rem;
                }
                .thirdparai{
                  background-color: #F4F4F4;
                  max-width: 88rem;
                  margin: 0 auto;
                }
                figure img{
                 width: 50%;
                 padding: 2rem;
                }
                .social li {
                  width: 3%;
            }
            footer p{
              max-width: 46rem;
            }
            .bac {
              margin-left: 8.2rem;
              margin-bottom: 1rem;
            }
            .work {
              margin-top: 4rem;
            }
            .diff {
              float: left;
              max-width: 16rem;
              padding: 3rem;
              font-size: 2.6rem;
              line-height: 1.1em;
              margin-left: 18rem;
              margin-top: 3rem;
              font-weight: 700;
            }
            .work li{
            width: 74%;
            /*! padding: 0.1rem; */
            align-content: center;
            /*! margin-top: 2rem; */
            }

            .work li:before {
            content: counter(item);
            background-color: transparent;
            border: 6px solid #FF8100;
            border-radius: 100%;
            color: #FF8100;
           font-family: 'Roboto', Helvetica, sans-serif;
           font-size: 2.7rem;
           text-align: center;
          display: inline-block;
          padding: 1.5rem 1.8rem;}
          .flex {
            width: 60%;
            padding: 2rem;}

          label {
            display: block;
            margin-bottom: 10px;}
          .inputt {
            max-width: 19rem;
            margin-top: 8rem;
          }
          input[type="textt"] {
            padding: 13px;
            color: #330811;
            font-size: 16px;
            border: 2px solid #330811;
            border-radius: 10px;
            box-sizing: border-box;
            width: 100%;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
            margin-top: 1rem;}


            #backtop {
              width: 5%;}
              .breadcrumb {
                margin-top: 8rem;
                margin-left: 1rem;}
              /* calender page */
              
                .calendarpage {
                  max-width: 50rem;
                  margin: 0 auto; }
                  .calendarpage {
                    gap: 1rem;
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    margin-bottom: 2rem;
                  }
              
          }