* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainColor: #000000;
    --purpleColor: #59314C;
    --lightPurple: #58304B;
    --yellowColor: #FFCF3F;
    --orangeColor: #FF8100;
    --pinkColor:   #F5ADB3;
  }

/* typography */
    html{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.6em; 
    }
    body{
        max-width: 36rem;  
        margin: 0 auto; 
    
    }
   /* skip to main button */ 
  #skip {
    margin: -1rem auto;
    display: block;
    z-index: 1001;
    top: -1rem;
    position: relative;
  }
  /* header with logo and nav bar  */
    .tophead{
     padding: 0.5rem;
     border-bottom: 3px solid var(--orangeColor);
      }

      .tophead ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
      }
      .tophead li a {
        display: block;
        padding: 20px 20px;
        color: #fff;
        text-decoration: underline ;
        text-align: center;
      }
      .tophead li a:hover,
.tophead .menu-btn:hover {
       background-color: #f4f4f4;
}

.tophead .logo {
  display: block;
  float: left;
  width: 50%;
}
/* menu */
.tophead .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */
.tophead .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-top: 1.5rem;}

.tophead .menu-icon .navicon {
    background: #59314C;
    display: block;
    height: 4px;
    position: relative;
    transition: .2s ease-in;
    width: 30px;
  }
.tophead .menu-icon .navicon:before,
.tophead .menu-icon .navicon:after {
    background: #59314C;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
.tophead .menu-icon .navicon:before {
    top: 7px;
  }
.tophead .menu-icon .navicon:after {
    top: -7px;}

 /* menu btn */
.tophead .menu-btn {
    display: none;
  }
.tophead .menu-btn:checked ~ .menu {
  max-height: 700px;
  height:   500px;
  background-color: var(--purpleColor);
  }
.tophead.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
.tophead.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
.tophead .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
.tophead .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.tophead.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
.nextpage {
  background: linear-gradient(to right, #EDC242, #D8AC27);
  border: none;
  color: #330811;
  padding: 10px 32px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  max-width: 14rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 
}


   /* calendar and music icon */
.icon {
    width: 30%;
  }
  .playmusic {
    width: 15%;
    margin-top: 1rem;
  }
  .bulb {
    width: 10%;
  }
  .navbar ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     cursor: pointer;
  }

  .navbar ul li ul {
    position:absolute;
    width: 166px;
    display: none;
    box-shadow: 3px 3px 10px #0f0e0e;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
  }
  .navbar ul li ul li {
    width: 100%;
    border-bottom: 0.1px solid var(--purpleColor);
    
  }
  .navbar ul li ul li a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #3a2333;
  }
  .navbar ul li:focus-within > ul {
    display: initial;
  }
  .navbar ul li:hover > ul{
    display: initial;}

   /* breadcrumbs */
nav.breadcrumb {
    padding: 0.8rem 1rem;}

nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;}
  
nav.breadcrumb li {
    display: inline;
    color: #59314C;
    font-weight: 500;}
  
nav.breadcrumb li + li::before {
    display: inline-block;
    margin: 0 0.25rem;
    transform: rotate(20deg);
    border-right: 0.1rem solid currentcolor;
    height: 0.8rem;
    content: "";}
  
nav.breadcrumb li [aria-current="page"] {
   font-weight: 600;}

    /* heading one and paragraph */
h1{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #58304B;
    line-height: 1.1em;
    font-size: 1.7rem;
    font-weight: 800;}
    .title {
        color: #FFCA29;
    }
.day{
    color: #330811;
    font-size: 1.4rem;
    font-weight: 600;}
p{
    margin-top: 1rem;
    /*! margin-bottom: 1rem; */}
.aheader {
    padding: 1rem;}
.aheaderc {
    background-color: #59314C;
    padding: 0.6rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

   /* heading two and second section */
h2{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #754866;
    line-height: 1.1em;
    font-size: 1.5rem;
    font-weight: 800;}

.secondpara {
    padding: 1rem; }
.steps{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    list-style-type: decimal;
    margin-left: 1rem;}

   /* figure and caption */
    figure {
        display: block;
        margin: 0;
        padding: 0;}
      
    figure img {
        display: block;
        max-width: 70%;
        margin: 0 auto;
        margin-top: -1.5rem;}
      
    figcaption {
        font-size: 16px;
        color: #330811;
        text-align: center;}

     /* heading 3 and paragraph */
    h3{
        font-family: 'Roboto', Helvetica, sans-serif;
        color: #3a2333;
        line-height: 1.1em;
        font-size: 1.3rem;
        font-weight: 600;}
    .thirdpara {
        padding: 1rem;}

    .work {
        padding: 0.6rem;
        list-style: none;
    }    


          /* button */
    #my-button {
        background: linear-gradient(to right, #EDC242, #D8AC27);
        border: none;
        color: #330811;
        padding: 10px 32px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: block;
        font-size: 1.2rem;
        font-weight: 800;
        cursor: pointer;}

         /* back to calendar */
    .bac {
        margin-top: 2rem;
        padding: 0.6rem;}

        /* footer */
    .backtop {
        width: 15%;
        position: absolute;
        right: 0;
        margin-top: -1.5rem;
        display: block;}
    footer{
        background-color: #58304B;
        color: #ffffff;}
        footer p{
        padding: 0.6rem;
        margin-bottom: -2rem;
        margin-top: -0.1rem;}
    .social {
      max-width: 14rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      
    }    
    .sicon {
      margin-top: 1rem;
      width: 30%;
    }
   

            /*homepage input */
            label {
                display: block;
                margin-bottom: 10px;}
              
              input[type="text"] {
                padding: 10px;
                color: #330811;
                font-size: 16px;
                border: 2px solid #330811;
                border-radius: 10px;
                box-sizing: border-box;
                width: 70%;
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;}
                button {
                    background: linear-gradient(to right, #EDC242, #D8AC27);
                    border: none;
                    color: #330811;
                    padding: 10px 20px;
                    font-size: 1.2rem;
                    font-weight: 800;
                    border-radius: 4px;
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                  }
            
              
          

